@media (max-width: 800px) {
  .medium-zoom-image {
    border-width: 0.75vi;
    padding: 0.75vi;
    aspect-ratio: 1;
  }
}

@media (min-width: 800px) {
  .medium-zoom-image {
    border-width: 6px;
    padding: 6px;
    aspect-ratio: 1;
  }
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}