.model-download {
    width: 100%;
    border-collapse: collapse;
}

.model-download td {
    text-align: center;
    border-style: solid;
    padding: 0;
}

.model-download tr:last-child {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.model-download button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.buttonCell {
    width: 45px;
}

.download-option .content-wrapper,
.download-option .label-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.download-option.expanded .content-wrapper,
.download-option.expanded .label-wrapper {
    height: 45px;
}

.download-option td {
    border-width: 0;
}

.download-option.expanded td {
    border-width: 1px;
}

.download-option.expanded:hover {
    background-color: color-mix(in srgb, var(--accent) 10%, transparent);
}

.download-option.expanded .content-wrapper {
    padding: 1px;
}

.label-wrapper p {
    margin: 12px;
}

.download-options-switch {
    margin: 1px !important;
    width: 45px !important;
    height: 45px !important;
}

.header-row td {
    line-height: 0;
    height: 45px !important;
}

.download-option button,
.download-options-switch[aria-expanded="false"],
.download-options-switch[aria-expanded="true"] {
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border: none;
}

.download-option button {
    background-image: url("../icons/saveIcon.svg");
}

.download-options-switch[aria-expanded="false"] {
    background-image: url("../icons/arrowDown.svg");
}

.download-options-switch[aria-expanded="true"] {		
    background-image: url("../icons/arrowUp.svg");
}