.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
}

.menu__trigger {
  margin-right: 0 !important;
  color: var(--accent);
  cursor: pointer;
  border: 2px solid;
  margin-left: 10px;
  height: 100%;
  width: 65px;
  padding: 3px 8px;
  margin-bottom: 0 !important;
  position: relative;
}

.menu__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--background);
  box-shadow: 0 10px var(--background), -10px 10px var(--background), 10px 10px var(--background);
  color: var(--accent);
  border: 2px solid var(--accent);
  margin: 23px 0;
  padding: 10px;
  top: 10px;
  left: auto;
  right: 0;
  list-style: none;
  z-index: 99;
  width: 61px;
}

.menu__dropdown>li:not(:last-of-type) {
  margin-bottom: 10px;
}

.menu__dropdown>li a {
  display: flex;
  padding: 5px;
}