@media(max-width: 335px) {
    .model-download-wrapper-frame {
        width: 100%;
        border-style: solid;
        border-width: 0 1px 0 1px;
        border-color: var(--accent);
    }

    .model-download tr:last-child td {
        border-bottom-width: 1px !important;
    }
}

.model-download-wrapper {
    width: 100%;
    overflow-x: auto;
    background: color-mix(in srgb,var(--accent) 10%,transparent);
}

.model-download {
    width: 100%;
    min-width: 280px;
    border-bottom: 0;
    border-collapse: collapse;
}

table.model-download {
    border-style: solid;
}

.model-download td {
    text-align: center;
    border-style: solid;
    padding: 0;
}

.model-download tr:last-child td {
    border-bottom-width: 0px;
}

.model-download button {
    margin: 0;
    width: 100%;
    height: 100%;
}

.button-cell {
    width: 45px;
}

.download-option .content-wrapper,
.download-option .label-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.download-option.expanded .content-wrapper,
.download-option.expanded .label-wrapper {
    height: 45px;
}

.download-option td {
    border-width: 0 1px 0 1px;
}

.download-option.expanded td {
    border-width: 1px;
    padding-bottom: 1px;
}

.download-option.expanded:hover {
    background-color: color-mix(in srgb, var(--accent) 10%, transparent);
}

.download-option.expanded:hover .download-button {
    background-color: color-mix(in srgb, var(--accent) 90%, transparent);
}

.download-option.expanded .content-wrapper {
    padding: 1px;
}

.label-wrapper p {
    margin: 12px;
}

.download-options-switch {
    margin: 1px !important;
    width: 45px !important;
    height: 45px !important;
}

.header-row td {
    line-height: 0;
    border-bottom: 0;
    height: 45px !important;
}

.download-option td div a button,
.download-options-switch[aria-expanded="false"],
.download-options-switch[aria-expanded="true"] {
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border: none;
}

.button-cell .download-button {
    background-image: url("../icons/saveIcon.svg");
}

.download-options-switch[aria-expanded="false"] {
    background-image: url("../icons/arrowDown.svg");
}

.download-options-switch[aria-expanded="true"] {
    background-image: url("../icons/arrowUp.svg");
}

.hide-when-no-js {
    display: none;
}

.scrollable-element {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--background);
}

.scrollable-element::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollable-element::-webkit-scrollbar-track {
    background: var(--background);
}

.scrollable-element::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 4px;
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
    background: #d6ac52;
}