.model-viewer-container{
	margin-bottom: 20px;
	border: 1px solid var(--accent);
	border-radius: var(--radius);
	min-height: min(85vw, 750px);
	max-height: 800px;
}

model-viewer {
	width: 100%;
	min-height: min(85vw, 750px);
	max-height: 800px;
	--progress-bar-color: none;
	--progress-bar-height: 0px;
}

.modelError {
	display: flex;
}

.loadingPoster {
	margin-top: 35%;
	display: none;
}

.modelError,
.loadingPoster {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.modelError img {
	border: 0;
	opacity: 0.25;
}