@keyframes popoverFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loadingBackground {
    from {
        background-color: var(--background);
    }
    to {
        background-color: color-mix(in srgb, white 5%, transparent);
    }
}

.popover-window {
    animation: popoverFadeIn 0.5s ease-in-out forwards;
    border: 2px solid var(--accent);
    background: var(--background);
    overflow: hidden;
    padding: 0;
}

@media (orientation: landscape), (aspect-ratio: 1/1) {
    .popover-window {
        min-width: calc(98dvh - 40px);
        min-height: 98dvh;
        max-width: calc(98dvh - 40px);
        max-height: 98dvh;
    }
    .popover-image,
    .loading-container {
        max-width: 98dvh;
        max-height: calc(98dvh - 40px);
    }
}

@media (orientation: portrait) {
    .popover-window {
        min-width: calc(98dvw - 40px);
        min-height: 98dvw;
        max-width: calc(98dvw - 40px);
        max-height: 98dvw;
    }
    .popover-image,
    .loading-container {
        max-width: 98dvw;
        max-height: calc(98dvw - 40px);
    }
}

.popover-window::backdrop {
    background-color: rgba(34, 33, 41, 0.75);
    backdrop-filter: blur(2px);    
    animation: popoverFadeIn 0.25s ease-in-out forwards;
}

.popover-title-bar {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid var(--accent);
    background-color: color-mix(in srgb, var(--accent) 10%, transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popover-title {
    margin: 0 10px;
    color: var(--accent);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
}

.popover-close-button {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0;
    border: var(--background) solid 1px;
    width: 38px;
    height: 38px;
}

.popover-button,
.popover-image {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1;
}

.popover-button:hover {
    background: none;
}

.popover-button {
    cursor: zoom-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
  .popover-thumbnail {
    border-width: 0.75vi;
    padding: 0.75vi;
    aspect-ratio: 1;
  }
  .popover-button figcaption {
        left: 1.5vi;
        right: 1.5vi;
        bottom: 1.5vi;
    }
}

@media (min-width: 800px) {
  .popover-thumbnail {
    border-width: 6px;
    padding: 6px;
    aspect-ratio: 1;
  }
  .popover-button figcaption {
        left: 12px;
        right: 12px;
        bottom: 12px;
    }
}

.popover-content {
    display: flex;
    justify-content: center;
}

.loading-container {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: loadingBackground 2s ease-in-out infinite alternate-reverse;
}

.popover-content figcaption,
.popover-button figcaption {
    border-top: 2px solid var(--accent);
    background-color: color-mix(in srgb, var(--accent) 80%, transparent);
    font-weight: bold;
    position: absolute;
    line-height: 1.5;
    text-shadow: 0px 0px 5px white;
}

.popover-content figcaption {
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 78px;
    padding-top: 6px;
    overflow: auto;
}

.popover-button figcaption {
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}