<link rel="stylesheet" href="{{ .Site.BaseURL }}css/customs_mediumZoomFix.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/modelViewer.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/modelDownloader.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/images.css">
<link rel="icon" type="image/png" sizes="512x512" href="{{ .Site.BaseURL }}favicons/icon512.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ .Site.BaseURL }}favicons/icon192.png">
<link rel="icon" type="image/png" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicons/icon16.png">