<script type="module" src="{{ .Site.BaseURL }}scripts/model-viewer.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    handleNoSupportForWebGL();
    handleJSReliantElements();
  });

  function handleNoSupportForWebGL() {
    const canvas = document.createElement('canvas');
    if (window.WebGLRenderingContext && (canvas.getContext('webgl') || canvas.getContext('experimental-webgl'))) {
      
      setTimeout(function() {
        Array.from(document.querySelectorAll('div.loadingPoster')).forEach(loading => {
          loading.style.display = 'flex';
        });
      }, 250);

      return;
    }

    Array.from(document.querySelectorAll('model-viewer')).forEach(webglError => {
      webglError.style.display = 'none';
    });

    Array.from(document.querySelectorAll('div.modelError')).forEach(webglError => {
      webglError.style.display = 'flex';
    });
  }

  function handleJSReliantElements() {
      Array.from(document.querySelectorAll('.hide-when-no-js')).forEach(element => {
      element.classList.remove('hide-when-no-js');
    });
  }

  function toggleOptions(button) {
    const isExpanded = button.getAttribute("aria-expanded") === "true";
    button.setAttribute("aria-expanded", !isExpanded);

    const table = button.closest('.model-download');    
    table.querySelectorAll('.download-option').forEach(row => {
        row.classList.toggle('expanded');
    });
  }

</script>