{{ $metadata := readFile (path.Join (replace .Page.File.Path "index.md" "") "images/metadata.txt") }}
{{ $metadataLines := split $metadata "\n" }}

{{ $maxImageCount := 5 }}
{{ $beforeImages := 0.0 }}
{{ $afterImages := 0.0 }}

{{ $beforeImagesPath := path.Join (replace .Page.File.Path "index.md" "") "images" "hq_before[NUMBER].webp" }}
{{ $afterImagesPath := path.Join (replace .Page.File.Path "index.md" "") "images" "hq_after[NUMBER].webp" }}

{{ range $num := (seq $maxImageCount) }}

    {{ $beforeImage := replace $beforeImagesPath "[NUMBER]" . }}
    {{ $afterImage := replace $afterImagesPath "[NUMBER]" . }}

    {{ if fileExists $beforeImage }}
        {{ $beforeImages = add $beforeImages 1 }}
    {{ end }}

    {{ if fileExists $afterImage }}
        {{ $afterImages = add $afterImages 1 }}
    {{ end }}

{{ end }}

{{ $totalImageCount := add $beforeImages $afterImages }}

{{ if gt $totalImageCount 0 }}

    {{ $beforeRatio := div $beforeImages $totalImageCount 0.01 }}
    {{ $beforeRatio = div (math.Round (mul $beforeRatio 100)) 100 }}

    <table class="img-table">
        <tr>
            <th style="width: {{ $beforeRatio }}%" colspan={{ $beforeImages }}>Before</th>
            <th colspan={{ $afterImages }}>After</th>
        </tr>
        <tr>
            {{ range $num := (seq $beforeImages) }}
                {{ $currentMetadataLine := split (index $metadataLines (sub . 1)) "|" }}
                {{ $path := replace $beforeImagesPath "[NUMBER]" . }}
                {{ if fileExists $path }}
                    <td>
                        {{ $id := printf "%simg_b_%d" (replace (replace (replace $.Page.RelPermalink "/NeverBored/posts/" "") "/" "_") "." "_") $num }}

                        {{ partial "popover_image.html" (dict
                            "alt" (index $currentMetadataLine 0)
                            "id" $id
                            "title" (printf "%s %s" $.Page.Title " - Before")
                            "fileLq" (printf "lq_before%d.webp" .)
                            "fileHq" (printf "hq_before%d.webp" .)
                            "caption" (index $currentMetadataLine 1)
                            "page" $.Page)
                        }}
                    </td>
                {{ end }}
            {{ end }}
            {{ range $num := (seq $afterImages) }}
                {{ $currentMetadataLine := split (index $metadataLines (sub (add (int $beforeImages) . ) 1)) "|" }}
                {{ $path := replace $afterImagesPath "[NUMBER]" . }}
                {{ if fileExists $path }}
                    <td>
                        {{ $id := printf "%simg_a_%d" (replace (replace (replace $.Page.RelPermalink "/NeverBored/posts/" "") "/" "_") "." "_") $num }}

                        {{ partial "popover_image.html" (dict
                            "alt" (index $currentMetadataLine 0)
                            "id" $id
                            "title" (printf "%s %s" $.Page.Title " - After")
                            "fileLq" (printf "lq_after%d.webp" .)
                            "fileHq" (printf "hq_after%d.webp" .)
                            "caption" (index $currentMetadataLine 1)
                            "page" $.Page)
                        }}
                    </td>
                {{ end }}
            {{ end }}
        </tr>
    </table>

{{ end }}