<!-- model viewer -->
<div class="model-viewer-container">
	
	<noscript>
		<div class = "modelError">
			<img src="{{ .Site.BaseURL }}modelError.png" alt="Failed to load the 3D model." />
			<p>Failed to load the 3D model. Please enable JavaScript.</p>
		</div>
	</noscript>

	<div class = "modelError" style="display: none;">
			<img src="{{ .Site.BaseURL }}modelError.png" alt="Failed to load the 3D model." />
			<p>Failed to load the 3D model. Please enable WebGL.</p>
	</div>

	<model-viewer
		src="{{.Page.RelPermalink}}images/{{ .Get "src" }}"
		alt="{{ .Get "alt" }}"
		touch-action="pan-y"
		shadow-intensity="1"
		interaction-prompt-style="basic"
		rotation-per-second="400%"
		powerPreference="low-power"
		camera-controls
		disable-tap
		auto-rotate>
			<div class="loadingPoster" slot="poster">
				<p>Loading the 3D model..</p>
			</div>
		</model-viewer>
</div>
