<!-- model files -->
<div style="overflow-x:auto">
	<table class="model-download">
		<tr class="header-row">
			<th>
				<a href="https://www.makeronline.com/en/model/{{ .Get "mkrs" }}" target="_blank">Get from MakerOnline.com</a>
			</th>
			<th class="buttonCell">
				<button class="download-options-switch" onclick="toggleOptions(this)"
					aria-label="Toggle download options"
					aria-expanded="false"></button>
			</th>
		</tr>
		<tr class="download-option">
			<th>
				<div class="label-wrapper">
					<p>STL (High Detail)</p>
				</div>
			</th>
			<th class="buttonCell">
				<div class="content-wrapper">
					<a href="{{.Page.RelPermalink}}models/{{ .Get "fname"}}_HighRes.stl" target="_blank"><button></button></a>
				</div>
			</th>
		</tr>
		<tr class="download-option">
			<th>
				<div class="label-wrapper">
					<p>STL (Low Detail)</p>
				</div>
			</th>
			<th class="buttonCell">
				<div class="content-wrapper">
					<a href="{{.Page.RelPermalink}}models/{{ .Get "fname"}}_LowRes.stl" target="_blank"><button></button></a>
				</div>
			</th>
		</tr>
		<tr class="download-option">
			<th>
				<div class="label-wrapper">
					<p>3MF</p>
				</div>
			</th>
			<th class="buttonCell">
				<div class="content-wrapper">
					<a href="{{.Page.RelPermalink}}models/{{ .Get "fname"}}.3mf" target="_blank"><button></button></a>
				</div>
			</th>
		</tr>
		<tr class="download-option">
			<th>
				<div class="label-wrapper">
					<p>F3D</p>
				</div>
			</th>
			<th class="buttonCell">
				<div class="content-wrapper">
					<a href="{{.Page.RelPermalink}}models/{{ .Get "fname"}}.f3d" target="_blank"><button></button></a>
				</div>
			</th>
		</tr>
		<tr class="download-option last-row">
			<th>
				<div class="label-wrapper">
					<p>STEP</p>
				</div>
			</th>
			<th class="buttonCell">
				<div class="content-wrapper">
					<a href="{{.Page.RelPermalink}}models/{{ .Get "fname"}}.step" target="_blank"><button></button></a>
				</div>
			</th>
		</tr>
	</table>
</div>

<style>
	.download-option button {
		background-image: url("{{ .Site.BaseURL }}icons/saveIcon.svg");
	}

	.download-options-switch[aria-expanded="false"] {
		background-image: url("{{ .Site.BaseURL }}icons/arrowDown.svg");
	}

	.download-options-switch[aria-expanded="true"] {		
		background-image: url("{{ .Site.BaseURL }}icons/arrowUp.svg");
	}
</style>