<!-- model files -->
{{/* SET DEFAULTS */}}

	{{ $defaults := slice "_LowRes.stl" "_HighRes.stl" ".3mf" ".f3d" ".step" }}
	{{ $labels := dict
		"_HighRes.stl" "STL (High Detail)"
		"_LowRes.stl" "STL (Low Detail)"
		".3mf" "3MF"
		".f3d" "F3D"
		".step" "STEP"
	}}


{{/* LOAD PARAMETERS */}}

	{{ $baseUrl := print .Page.RelPermalink "models/" (.Get "fname") }}
	{{ $toRemoveRaw := .Get "excludedDefaults" }}
	{{ $toPrependRaw := .Get "prependDownloads" }}
	{{ $toAppendRaw := .Get "appendDownloads" }}
	{{ $extendedLabelsRaw := .Get "extendLabels" }}
	{{ $toRemove := cond (isset .Params "excludedDefaults") (split $toRemoveRaw ",") (slice) }}
	{{ $toPrepend := cond (isset .Params "prependDownloads") (split $toPrependRaw ",") (slice) }}
	{{ $toAppend := cond (isset .Params "appendDownloads") (split $toAppendRaw ",") (slice) }}
	{{ $extendedLabels := cond (isset .Params "extendLabels") (split $extendedLabelsRaw ",") (slice) }}


{{/* EXCLUDE UNWANTED DEFAULTS, COMBINE THE FINAL LIST */}}

	{{ $filtered := slice }}
	{{ range $defaults }}
	{{ if not (in $toRemove .) }}
		{{ $filtered = $filtered | append . }}
	{{ end }}
	{{ end }}
	{{ $finalSuffixArray := union (union $toPrepend $filtered) $toAppend }}


{{/* EXTEND THE LABELS DICTIONARY */}}

	{{ range $extendedLabels }}
		{{ $entry := split . "=" }}
		{{ $labels = merge $labels (dict (index $entry 0) (index $entry 1)) }}
	{{ end }}


<div class="model-download-wrapper-frame hide-when-no-js">
	<div class="model-download-wrapper scrollable-element">
		<table class="model-download">
			<tr class="header-row">
				<td>
					<a href="https://www.makeronline.com/en/model/{{ .Get "mkrs" }}" target="_blank" rel="noopener">Get from MakerOnline.com</a>
				</td>
				<td class="button-cell">
					<button class="download-options-switch" onclick="toggleOptions(this)"
						aria-label="Toggle download options"
						aria-expanded="false"></button>
				</td>
			</tr>
			{{ range $filenameSuffix := $finalSuffixArray }}
			<tr class="download-option">
				<td>
					<div class="label-wrapper">
						<p>{{ index $labels $filenameSuffix | default $filenameSuffix }}</p>
					</div>
				</td>
				<td class="button-cell">
					<div class="content-wrapper">
						<a href="{{$baseUrl}}{{$filenameSuffix}}" target="_blank"><button class="download-button"></button></a>
					</div>
				</td>
			</tr>
			{{ end }}
		</table>
	</div>
</div>